doctype html
html(lang='ru')
    // Mirrored from www.freedome-realty.ru/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Apr 2018 11:35:26 GMT
    // Added by HTTrack
    head
        meta(http-equiv='content-type', content='text/html;charset=UTF-8')
        // /Added by HTTrack
        title
            | Агентство недвижимости «ФРИДОМ» - Москва, сайт профессионального агентства недвижимости
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='keywords', content='недвижимость, агентство недвижимости, недвижимость в москве, продажа недвижимости, сайт недвижимости, купить недвижимость, недвижимость москва')
        meta(name='description', content='Оказание услуг по купле и продаже недвижимости, сопровождение сделок, помощь при покупке квартиры в ипотеку. Агентство недвижимости «ФРИДОМ». Москва.')
        script(type='text/javascript', data-skip-moving='true').
            (function (w, d) {
            var v = w.frameCacheVars = {
            'CACHE_MODE': 'HTMLCACHE',
            'storageBlocks': [],
            'dynamicBlocks': {
            'LkGdQn': 'cffe316d7038',
            '7DqYyc': 'c42589642224',
            'jmonnO': '9d0d3a85133b',
            'iJBuqa': '55fe07648b90',
            'd42sdq': 'f43d4ab792f5',
            'XEVOpk': '20f8bbff3326',
            'rcBNcO': '32c628be9435'
            },
            'AUTO_UPDATE': true,
            'AUTO_UPDATE_TTL': '120'
            };
            var inv = false;
            if (v.AUTO_UPDATE === false) {
            if (v.AUTO_UPDATE_TTL && v.AUTO_UPDATE_TTL > 0) {
            var lm = Date.parse(d.lastModified);
            if (!isNaN(lm)) {
            var td = new Date().getTime();
            if ((lm + v.AUTO_UPDATE_TTL * 1000) >= td) {
            w.frameRequestStart = false;
            w.preventAutoUpdate = true;
            return;
            }
            inv = true;
            }
            } else {
            w.frameRequestStart = false;
            w.preventAutoUpdate = true;
            return;
            }
            }
            var r = w.XMLHttpRequest ? new XMLHttpRequest() : (w.ActiveXObject ? new w.ActiveXObject(
            "Microsoft.XMLHTTP") : null);
            if (!r) {
            return;
            }
            w.frameRequestStart = true;
            var m = v.CACHE_MODE;
            var l = w.location;
            var x = new Date().getTime();
            var q = "?bxrand=" + x + (l.search.length > 0 ? "&" + l.search.substring(1) : "");
            var u = l.protocol + "//" + l.host + l.pathname + q;
            r.open("GET/index.html", u, true);
            r.setRequestHeader("BX-ACTION-TYPE", "get_dynamic");
            r.setRequestHeader("BX-CACHE-MODE", m);
            r.setRequestHeader("BX-CACHE-BLOCKS", v.dynamicBlocks ? JSON.stringify(v.dynamicBlocks) : "");
            if (inv) {
            r.setRequestHeader("BX-INVALIDATE-CACHE", "Y");
            }
            try {
            r.setRequestHeader("BX-REF", d.referrer || "");
            } catch (e) {}
            if (m === "APPCACHE") {
            r.setRequestHeader("BX-APPCACHE-PARAMS", JSON.stringify(v.PARAMS));
            r.setRequestHeader("BX-APPCACHE-URL", v.PAGE_URL ? v.PAGE_URL : "");
            }
            r.onreadystatechange = function () {
            if (r.readyState != 4) {
            return;
            }
            var a = r.getResponseHeader("BX-RAND");
            var b = w.BX && w.BX.frameCache ? w.BX.frameCache : false;
            if (a != x || !((r.status >= 200 && r.status < 300) || r.status === 304 || r.status === 1223 ||
            r.status === 0)) {
            var f = {
            error: true,
            reason: a != x ? "bad_rand" : "bad_status",
            url: u,
            xhr: r,
            status: r.status
            };
            if (w.BX && w.BX.ready) {
            BX.ready(function () {
            setTimeout(function () {
            BX.onCustomEvent("onFrameDataRequestFail", [f]);
            }, 0);
            });
            } else {
            w.frameRequestFail = f;
            }
            return;
            }
            if (b) {
            b.onFrameDataReceived(r.responseText);
            if (!w.frameUpdateInvoked) {
            b.update(false);
            }
            w.frameUpdateInvoked = true;
            } else {
            w.frameDataString = r.responseText;
            }
            };
            r.send();
            })(window, document);
        script(type='text/javascript', data-skip-moving='true').
            (function (w, d, n) {
            var cl = "bx-core";
            var ht = d.documentElement;
            var htc = ht ? ht.className : undefined;
            if (htc === undefined || htc.indexOf(cl) !== -1) {
            return;
            }
            var ua = n.userAgent;
            if (/(iPad;)|(iPhone;)/i.test(ua)) {
            cl += " bx-ios";
            } else if (/Android/i.test(ua)) {
            cl += " bx-android";
            }
            cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch");
            cl += w.devicePixelRatio && w.devicePixelRatio >= 2 ? " bx-retina" : " bx-no-retina";
            var ieVersion = -1;
            if (/AppleWebKit/.test(ua)) {
            cl += " bx-chrome";
            } else if ((ieVersion = getIeVersion()) > 0) {
            cl += " bx-ie bx-ie" + ieVersion;
            if (ieVersion > 7 && ieVersion < 10 && !isDoctype()) {
            cl += " bx-quirks";
            }
            } else if (/Opera/.test(ua)) {
            cl += " bx-opera";
            } else if (/Gecko/.test(ua)) {
            cl += " bx-firefox";
            }
            if (/Macintosh/i.test(ua)) {
            cl += " bx-mac";
            }
            ht.className = htc ? htc + " " + cl : cl;
            function isDoctype() {
            if (d.compatMode) {
            return d.compatMode == "CSS1Compat";
            }
            return d.documentElement && d.documentElement.clientHeight;
            }
            function getIeVersion() {
            if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)) {
            return -1;
            }
            var rv = -1;
            if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)) {
            rv = 11;
            } else if (!!d.documentMode && d.documentMode >= 10) {
            rv = 10;
            } else if (!!d.documentMode && d.documentMode >= 9) {
            rv = 9;
            } else if (d.attachEvent && !/Opera/.test(ua)) {
            rv = 8;
            }
            if (rv == -1 || rv == 8) {
            var re;
            if (n.appName == "Microsoft Internet Explorer") {
            re = new RegExp("MSIE ([0-9]+[\\.0-9]*)");
            if (re.exec(ua) != null) {
            rv = parseFloat(RegExp.$1);
            }
            } else if (n.appName == "Netscape") {
            rv = 11;
            re = new RegExp("Trident/.*rv:([0-9]+[\\.0-9]*)");
            if (re.exec(ua) != null) {
            rv = parseFloat(RegExp.$1);
            }
            }
            }
            return rv;
            }
            })(window, document, navigator);
        // <link href="https://www.freedome-realty.ru/bitrix/cache/css/s1/freedome-2017/kernel_main/kernel_main.css?152355352530020" type="text/css"   rel="stylesheet" />
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i', type='text/css', rel='stylesheet')
        // <link href="https://www.freedome-realty.ru/bitrix/cache/css/s1/freedome-2017/page_637b52158c5ae08bbcfc7ccecdb42d03/page_637b52158c5ae08bbcfc7ccecdb42d03.css?15235532554620" type="text/css"   rel="stylesheet" />
        // <link href="https://www.freedome-realty.ru/bitrix/cache/css/s1/freedome-2017/template_53111996b9965ceaba253eec7e105ad9/template_53111996b9965ceaba253eec7e105ad9.css?1523553255227829" type="text/css"   data-template-style="true"  rel="stylesheet" />
        meta(name='format-detection', content='telephone=no')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(charset='utf-8')
        link(rel='shortcut icon', href='local/templates/freedome-2017/img/favicon2.png')
        meta(property='og:url', content='https://www.freedome-realty.ru/')
        meta(property='og:title', content='Агентство недвижимости «ФРИДОМ» - Москва, сайт профессионального агентства недвижимости')
        meta(property='og:description', content='Оказание услуг по купле и продаже недвижимости, сопровождение сделок, помощь при покупке квартиры в ипотеку. Агентство недвижимости «ФРИДОМ». Москва.')
        meta(property='og:type', content='website')
        meta(property='og:image', content='http://www.freedome-realty.ru/local/templates/freedome-2017/img/og_image.jpg')
        meta(property='og:image:secure_url', content='https://www.freedome-realty.ru/local/templates/freedome-2017/img/og_image.jpg')
        meta(property='og:image:width', content='1200')
        meta(property='og:image:height', content='630')
        meta(property='og:image:type', content='image/jpeg')
        link(rel='stylesheet', href='old.css')
        link(rel='stylesheet', href='new-styles.css')
        link(rel='stylesheet', href='css/styles.css')
        // END: 20-06-2018
    body
        include module/mixins
        include module/header
        // LANDING
        .wrapper.main-wrapper
            .workarea
                block content
        // END LANDING
        include module/footer
        // BEGIN: popups
        //- #getCall.popup.popup_call.mfp-hide
        //-     .popup__header
        //-         h4.popup__title Заказать звонок
        //-     .popup__content
        //-         form#formCall(method='POST', action='')
        //-             .input-wrap
        //-                 input#name.input-box(type='text', name='name', placeholder='Имя*')
        //-                 label(for='name') Имя
        //-             .input-wrap
        //-                 input#phone.input-box(type='text', name='phone', placeholder='Телефон*')
        //-                 label(for='phone') Телефон
        //-             .footer_dispatch-checkbox
        //-                 input#dispatch-checkbox(type='checkbox', name='checkbox')
        //-                 label(for='dispatch-checkbox')
        //-                     | Нажимая на кнопку «Подписаться», я даю
        //-                     a(href='#') согласие на обработку персональных данных
        //-             .popup__buttons
        //-                 button.btn-send(type='submit', disabled='') Отправить
        //- #setBid.popup.popup_bid.mfp-hide
        //-     .popup__header
        //-         h4.popup__title Подберем лучшее предложение для вас!
        //-     .popup__content
        //-         form#formBid(method='POST', action='')
        //-             .input-wrap
        //-                 input#name.input-box(type='text', name='name', placeholder='Имя*')
        //-                 label(for='name') Имя
        //-             .input-wrap
        //-                 input#phone.input-box(type='text', name='phone', placeholder='Телефон*')
        //-                 label(for='phone') Телефон
        //-             .input-wrap
        //-                 input#email.input-box(type='email', name='email', placeholder='E-mail')
        //-                 label(for='email') E-mail
        //-             .input-wrap
        //-                 textarea#comment.input-box(type='text', name='comment', rows='5', placeholder='Хочу продать однокомнатную квартиру в Москве')
        //-             .footer_dispatch-checkbox
        //-                 input#dispatch-checkbox(type='checkbox', name='checkbox')
        //-                 label(for='dispatch-checkbox')
        //-                     | Нажимая на кнопку «Подписаться», я даю
        //-                     a(href='#') согласие на обработку персональных данных
        //-             .popup__buttons
        //-                 button.btn-send(type='submit', disabled='') Отправить
        //- .overlay
        // END: 21-06-2018 popups
        //
        script(type='text/javascript', src='https://www.freedome-realty.ru/bitrix/js/main/core/core_db.js?151229822417880')
        script(type='text/javascript', src='https://www.freedome-realty.ru/bitrix/js/main/core/core_frame_cache.js?149899885717555')
        script(type='text/javascript', src='https://www.freedome-realty.ru/bitrix/js/main/jquery/jquery-1.8.3.min.js?149899885793636')
        script(src="./libs/slick/slick.min.js")
        

        script(src='libs/jquery.inputmask.bundle.js')
        script.
                $(document).ready(function(){
                    $('[type=tel]').inputmask({mask: "+7 [999 999-9999]", greedy: false});
                });
        script(src='js/script.js')
        script(src='js/main.js')
        script(src='new-js.js')

