extends ../layout
block content
    section.section(class="banner-section" style="background-image: url(img/sale_bg.png)")
        .container
            .banner(style="background-image: url(img/ludi.png)")
                .banner__head
                    h1.banner__title Как спокойно продать квартиру в 1 клик?
                    p.banner__text Продавайте свою недвижимость комфортно и безопасно вместе с профессионалами Фридом
                .banner__body
                    a(href="#form").js-anchor.banner__btn.btn.btn-prime Продать квартиру
                    .banner__socials
                        ul.associate
                            li.associate__item
                                img(src="img/sber.png", alt="sber")
                            li.associate__item
                                img(src="img/vtb.png", alt="vtb")
        //- // panel
        //- .feat-panel
        //-     .container
        //-         ul.feat-panel__list
        //-             each item in [{text: "Продадим дороже на", value: "150 000 ₽"}, {text: "Срок продажи", value: "> 30 дней"}, {text: "Низкая комиссия", value: "2%"}]
        //-                 li.feat-panel__item
        //-                     p.text=item.text
        //-                     p.value=item.value
        //- // end panel
    section.section(class="feat-section")
        // panel
        .feat-panel
            .container
                ul.feat-panel__list
                    each item in [{text: "Продадим дороже на", value: "150 000 ₽"}, {text: "Срок продажи", value: "> 30 дней"}, {text: "Низкая комиссия", value: "2%"}]
                        li.feat-panel__item
                            p.text=item.text
                            p.value=item.value
        // end panel
    +inner("advant", "section-inner advant-section", "Преимущества продажи квартиры с Фридом")
        - var advant = [{title: "Профессиональные юристы", text: "Все документы подготовит наш юридический отдел и будет сопровождать вашу сделку до ее окончания"}, {title: "Персональный менеджер", text: "У вас будет персональный специалист, который проконсультирует вас по всем вопросам недвижимости и поможет на всех этапах продажи вплоть до окончания сделки"}, {title: "Ипотеченые партнеры Сбербанка", text: "Мы аккредитованный партнер Сбербанка России. Благодаря этому мы способны получить решение по ипотеке за 2 часа"}, {title: "Нет оспоренных сделок", text: "Ни одна сделка не была оспорена за 11 лет нашей работы"}]
        .advant
            ul.advant__list
                each item, i in advant
                    li.advant__item
                        .advant__img
                            img(src=`img/icon-advant-${i+1}.png`, alt=`icon-advant-${i+1}`)
                        .advant__body
                            h4.advant__title=item.title
                            p.advant__text=item.text
    +inner("sale", "section-inner sale-section", "Сервис успешных сделок с недвижимостью")
        .sale-section__content
            .sale-section__img
                img(src="img/phone_freedom.png", alt="phone_freedom.png")
            .sale-section__info
                p.sale-section__text Продано квартир
                .sale-section__count 2574
                    .angle
    +inner("steps", "section-inner steps-section", "Как мы продаем квартиру за 5 простых шагов")
        - var items = [{title: "Бесплатная консультация", text: "Оцениваем стоимость жилья и рассказываем о налогах, документах и отвечаем на все ваши вопросы. Приедем к вам или ждем вас у нас в офисе."}, {title: "Оценка квартиры", text: "Проводим мониторинг рынка, определяем лучшую цену. Вы также можете оценить квартиру с помощью <a href=''>нашего бесплатного он-лайн калькулятора</a>. Мы всегда продаем недвижимость дороже рыночной цены."}, {title: "Рекламная кампания", text: "Рекламируем квартиру на 30 ведущих площадках Москвы и МО. Ведем переговоры, обрабатываем обращения. Продажа как правило занимает не более 60 дней."}, {title: "Когда покупатель найден", text: "Юрист подготавливает все необходимые документы для проведения сделки. <strong>Вы знаете о всех условиях сделки заранее и приезжаете на нее уже с готовыми документами</strong>. На всех этапах с вами наш специалист."}, {title: "Вы получаете деньги", text: "Оплата услуг происходит только после успешного заключения сделки и составляет от 2% до 4% в зависимости от цены недвижимости."}]
        +list(items)
    +inner("form", "section-inner form-section")
        form.form(action="" method="POST")
            .form__head
                h2.form__title Продать квартиру комфортно
            .form__body
                +input("text", "form__input", "Ваше имя", "FORM_NAME", "FORM_NAME")
                +input("text", "form__input", "Фамилия", "FORM_LASTNAME", "FORM_LASTNAME")
                +input("tel", "form__input", "Телефон*", "FORM_TEL", "FORM_TEL", true)
            .form__footer
                div(class="form__checkbox")
                    label Я принимаю 
                        a(href="#", title="title") условия передачи информации
                        input(type="checkbox", name="FORM_CHECK", data-required)
                        .checkbox
                button(type="submit").btn.btn-prime Отправить
    +inner("add", "section-inner add-section", "Вас может заинтересовать")
        ul.add-section__list.add-section__slider.js-add-section-slider
            - for (var i = 0; i < 3; i++)
                li.add-section__item
                    .order-preview
                        .order-preview__img
                            img(src="img/order-preview-img-1.png", alt="order-preview-img-1")
                        .order-preview__body
                            h4.order-preview__title Рефинансирование ипотеки
                            p.order-preview__text Уменьшите свой ежемесячный платеж по ипотеке в 2 раза
                            a(href="#").btn.btn-second Подробнее
                li.add-section__item
                    .order-preview
                        .order-preview__img
                            img(src="img/order-preview-img-2.png", alt="order-preview-img-2")
                        .order-preview__body
                            h4.order-preview__title Купить квартиру
                            p.order-preview__text 
                                a(href="#") Выбрать квартиру
                            a(href="#").btn.btn-second Подробнее