extends ../layout
block content
    section.section
        .container
            // btn
            button.btn.btn-prime Не активная
            button.btn.btn-second Не активная
            // form
            form.form(action="")
                .form__head
                    h2.form__title Продать квартиру комфортно
                .form__body
                    +input("text", "form__input", "Ваше имя", "FORM_NAME", "FORM_NAME")
                    +input("text", "form__input", "Фамилия", "FORM_LASTNAME", "FORM_LASTNAME")
                    +input("tel", "form__input", "Телефон*", "FORM_TEL", "FORM_TEL")
                .form__footer
                    div(class="form__checkbox")
                        label Я принимаю 
                            a(href="#", title="title") условия передачи информации
                            input(type="checkbox", name="FORM_CHECK")
                            .checkbox
                    button.btn.btn-prime Отправить
            // list
            h2 Как мы продаем квартиру за 5 простых шагов
            - var items = [{title: "Бесплатная консультация", text: "Оцениваем стоимость жилья и рассказываем о налогах, документах и отвечаем на все ваши вопросы. Приедем к вам или ждем вас у нас в офисе."}, {title: "Оценка квартиры", text: "Проводим мониторинг рынка, определяем лучшую цену. Вы также можете оценить квартиру с помощью нашего бесплатного он-лайн калькулятора. Мы всегда продаем недвижимость дороже рыночной цены."}, {title: "Рекламная кампания", text: "Рекламируем квартиру на 30 ведущих площадках Москвы и МО. Ведем переговоры, обрабатываем обращения. Продажа как правило занимает не более 60 дней."}, {title: "Когда покупатель найден", text: "Юрист подготавливает все необходимые документы для проведения сделки. Вы знаете о всех условиях сделки заранее и приезжаете на нее уже с готовыми документами. На всех этапах с вами наш специалист."}, {title: "Вы получаете деньги", text: "Оплата услуг происходит только после успешного заключения сделки и составляет от 2% до 4% в зависимости от цены недвижимости."}]
            +list(items)
            // advant card
            - var advant = [{title: "Профессиональные юристы", text: "Все документы подготовит наш юридический отдел и будет сопровождать вашу сделку до ее окончания"}, {title: "Персональный менеджер", text: "У вас будет персональный специалист, который проконсультирует вас по всем вопросам недвижимости и поможет на всех этапах продажи вплоть до окончания сделки"}, {title: "Ипотеченые партнеры Сбербанка", text: "Мы аккредитованный партнер Сбербанка России. Благодаря этому мы способны получить решение по ипотеке за 2 часа"}, {title: "Нет оспоренных сделок", text: "Ни одна сделка не была оспорена за 11 лет нашей работы"}]
            .advant
                ul.advant__list
                    each item, i in advant
                        li.advant__item
                            .advant__img
                                img(src=`img/icon-advant-${i+1}.png`, alt=`icon-advant-${i+1}`)
                            .advant__body
                                h4.advant__title=item.title
                                p.advant__text=item.text