footer
    .footer_wrap
        //- .footer_application
        //-     .container
        //-         .footer_application-text
        //-             p.footer_application-top Сэкономьте время на поиск объекта
        //-             p.footer_application-bot
        //-                 | Заполните заявку и мы бесплатно подберем необходимый Вам
        //-                 | объект недвижимости
        //-         a.footer_application-btn(href='#setBid') Оставить заявку
        //- .footer_text-block
        //-     .container
        //-         p.footer_text-block_title Продажа недвижимости в Москве
        //-         p
        //-             | Фридом предлагает Вам сотни тысяч объектов недвижимости для покупки и аренды в регионах по всей
        //-             | территории России. Наши объявления
        //-             | представляют более 50 мультилистинговых систем, несколько тысяч агентств недвижимости, десятки
        //-             | тысяч частных риэлторов, а
        //-             | также сотни тысяч собственников. И все они предлагают недвижимость в лучших городах страны,
        //-             | включая тысячи домов в небольших
        //-             | городах и поселках. Сейчас в нашей базе находятся более 715 700 объектов. Наш проект прекрасно
        //-             | работает на планшетах и смартфонах,
        //-             | оптимизирован для всех наиболее популярных мобильных устройств, таких как iPhone, IPAD и
        //-             | многочисленных гаджетах, работающих
        //-             | на Android. Просто укажите город, район или название региона в строке поиска, и Вы получите
        //-             | доступ к нашей обширной базе
        //-             | предложений о недвижимости: домов для продажи, квартир, новостроек, квартир в аренду и других
        //-             | объектов, представленных в
        //-             | настоящее время на рынке. Вы даже можете найти средние цены на жилье по региону и типу
        //-             | имущества. Если вы ищете недвижимость
        //-             | в Москве или Московской области, остановите свой выбор на проекте Фридом и выберите из 151 900
        //-             | объявлений. Мы предлагаем
        //-             | удобную систему для поиска собственности в Санкт-Петербурге, на Черном море и в Сочи, в
        //-             | Екатеринбурге и Новосибирске, а также
        //-             | в других городах и регионах России.
        .footer_dispatch
            .container
                form#formSub(method='POST')
                    .footer_dispatch-input
                        span Подпишитесь на нашу рассылку
                        input.subscribe(type='text', placeholder='Ваш E-mail')
                        input.btn-send(type='submit', value='Подписаться', disabled='')
                    .footer_dispatch-checkbox
                        input#dispatch-checkbox(type='checkbox', name='checkbox')
                        label(for='dispatch-checkbox')
                            | Нажимая на кнопку «Подписаться», я даю
                            a(href='#') согласие на обработку персональных данных
        .footer_bottom
            .footer_phone
                .container
                    .footer_phone-left
                        p Бесплатный звонок по России
                        a(href='tel:+88007007877') 8 800 700-78-77
                    .footer_socials
                        a.footer_socials-inst(href='#')
                        a.footer_socials-fb(href='#')
                        a.footer_socials-vk(href='#')
            .footer_nav
                .container
                    ul
                        li
                            a(href='#') Каталог недвижимости
                        li
                            a(href='#') Каталог услуг
                        li
                            a(href='#') Помощь клиенту
                        li
                            a(href='#') Новости и аналитика
                        li
                            a(href='#') О компании
                        li
                            a(href='#') Контакты
            .footer_client-info
                .container
                    a.footer_personal-info(href='#') Персональные данные
                    a(href='#') Действующие договоры
            .footer_copyright
                .container
                    span
                        | © Агентство недвижимости «ФРИДОМ», 2017. Представленная информация не является публичной
                        | офертой