.mobile_menu_block
    .mobile_menu_block-wrap
        p.mobile_menu-back Назад
        ul
            li
                span Каталог недвижимости
                ul
                    li
                        span Собственникам
                        ul
                            li
                                span Продать
                                ul
                                    li
                                        span Квартиру/комнату
                                    li
                                        span Дом/коттедж
                                    li
                                        span Дачу
                                    li
                                        span Земельный участок
                                    li
                                        span Коммерческую недвижимость
                                    li
                                        span Новостройку
                                    li
                                        span Зарубежную недвижимость
                                    li
                                        span Элитную недвижимость
                                    li
                                        span Залоговую недвижимость
                            li
                                span Обменять
                            li
                                span Сдать
                            li
                                span Доверительное управление
                            li
                                span Срочный выкуп
                            li
                                span Сопровождение
                            li
                                span Оформление
                            li
                                span Ипотека
                    li
                        span Покупателям
                    li
                        span Аренадторам
                    li
                        span Ипотека
            li
                span Каталог услуг
            li
                span Помощь клиентам
            li
                span Новости и аналитика
            li
                span О компании
            li
                span Контакты
.mobile_menu-overlay
header.catalog-header
    .header_wrap
        .header_mobile-top
            .container.clearfix
                .burger_button
                    .burger_button-wrap
                        .burger_item
                        .burger_item
                        .burger_item
                        .burger_item
                .header_mobile-logo
                    img(src='img/moblogo.png', alt='')
                .header_mobile-phone
                    a(href='tel:+88007007877')
                        img(src='img/phone_mobile.svg', alt='')
        .container
            .header_top.clearfix
                .header_logo
                    img(src='img/catlogo.png', alt='')
                .header_top-right
                    .header_favorites
                        .header_favorite-item.active
                            span 1
                            a(href='#') Избранное 
                        .header_compare-item.active
                            span 5
                            a(href='#') Сравнение 
                    .header_call
                        a(href='#getCall') Заказать звонок
                    .header_phone-num
                        p Бесплатный звонок по России
                        a(href='tel:+88007007877') 8 800 700-78-77
            .header_nav
                ul
                    li.nav_drop
                        a.nav_drop_active-link(href='javascript:void(0)')
                            | Каталог
                            | недвижимости
                    li.nav_drop
                        a(href='javascript:void(0)') Каталог услуг
                    li.nav_drop
                        a(href='javascript:void(0)') Помощь клиентам
                    li
                        a(href='#') Новости и аналитика
                    li.nav_drop
                        a(href='javascript:void(0)') О компании
                    li
                        a(href='#') Контакты
        .nav_drop_container__block
            .nav_drop_container
                .container
                    .nav_drop_container-wrap
                        .nav_drop_nav-top
                            ul
                                li.active Собственникам
                                li Покупателям
                                li Арендаторам
                        .nav_drop_nav-top_child-wrap
                            .nav_drop_nav-top_child-item.active
                                ul
                                    li
                                        | Продать
                                        .nav_drop_nav-top_child-hidden
                                            ul
                                                li
                                                    a(href='#') Квартиру/комнату
                                                li
                                                    a(href='#') Дом/коттедж
                                                li
                                                    a(href='#') Дачу
                                                li
                                                    a(href='#') Земельный участок
                                                li
                                                    a(href='#') Коммерческую недвижимость
                                    li.active
                                        | Обменять
                                        .nav_drop_nav-top_child-hidden
                                            ul
                                                li
                                                    a(href='#') Квартиру/комнату
                                                li
                                                    a(href='#') Дом/коттедж
                                                li
                                                    a(href='#') Дачу
                                                li
                                                    a(href='#') Земельный участок
                                                li
                                                    a(href='#') Коммерческую недвижимость
                                                li
                                                    a(href='#') Новостройку
                                                li
                                                    a(href='#') Зарубежную недвижимость
                                                li
                                                    a(href='#') Элитную недвижимость
                                                li
                                                    a(href='#') Залоговую недвижимость
                                    li Сдать
                                    li
                                        | Доверительное управление
                                        .nav_drop_nav-top_child-hidden
                                            ul
                                                li
                                                    a(href='#') Квартиру/комнату
                                                li
                                                    a(href='#') Дом/коттедж
                                                li
                                                    a(href='#') Дачу
                                                li
                                                    a(href='#') Земельный участок
                                                li
                                                    a(href='#') Коммерческую недвижимость
                            .nav_drop_nav-top_child-item
                                ul
                                    li Продать
                                    li.active
                                        | Обменять
                                        .nav_drop_nav-top_child-hidden
                                            ul
                                                li
                                                    a(href='#') Квартиру/комнату
                                                li
                                                    a(href='#') Дом/коттедж
                                                li
                                                    a(href='#') Дачу
                                                li
                                                    a(href='#') Земельный участок
                                                li
                                                    a(href='#') Коммерческую недвижимость
                                                li
                                                    a(href='#') Новостройку
                                                li
                                                    a(href='#') Зарубежную недвижимость
                                                li
                                                    a(href='#') Элитную недвижимость
                                                li
                                                    a(href='#') Залоговую недвижимость
                                    li Сдать
                            .nav_drop_nav-top_child-item
                                ul
                                    li Продать
                                    li.active
                                        | Обменять
                                        .nav_drop_nav-top_child-hidden
                                            ul
                                                li
                                                    a(href='#') Квартиру/комнату
                                                li
                                                    a(href='#') Дом/коттедж
                                                li
                                                    a(href='#') Дачу
                                                li
                                                    a(href='#') Земельный участок
                                                li
                                                    a(href='#') Коммерческую недвижимость
                                                li
                                                    a(href='#') Новостройку
                                                li
                                                    a(href='#') Зарубежную недвижимость
                                                li
                                                    a(href='#') Элитную недвижимость
                                                li
                                                    a(href='#') Залоговую недвижимость
            .nav_drop_container
                .container
                    .nav_drop_container-wrap
                        .nav_drop_nav-top
                            ul
                                li.active Собственникам
                                li Покупателям
                                li Арендаторам
                                li Ипотека
                        .nav_drop_nav-top_child-wrap
                            .nav_drop_nav-top_child-item
                                ul
                                    li Продать
                                    li.active
                                        | Обменять
                                        .nav_drop_nav-top_child-hidden
                                            ul
                                                li
                                                    a(href='#') Квартиру/комнату
                                                li
                                                    a(href='#') Дом/коттедж
                                                li
                                                    a(href='#') Дачу
                                                li
                                                    a(href='#') Земельный участок
                                                li
                                                    a(href='#') Коммерческую недвижимость
                                                li
                                                    a(href='#') Новостройку
                                                li
                                                    a(href='#') Зарубежную недвижимость
                                                li
                                                    a(href='#') Элитную недвижимость
                                                li
                                                    a(href='#') Залоговую недвижимость
                                    li Сдать
                                    li Доверительное управление
                                    li Срочный выкуп
                                    li Сопровождение
                                    li Оформление
                                    li Ипотека
            .nav_drop_container
                .container
                    .nav_drop_container-wrap
                        .nav_drop_nav-top
                            ul
                                li.active Собственникам
                        .nav_drop_nav-top_child-wrap
                            .nav_drop_nav-top_child-item
                                ul
                                    li Продать
            .nav_drop_container
                .container
                    .nav_drop_container-wrap
                        .nav_drop_nav-top
                            ul
                                li.active Собственникам
                                li Покупателям
                                li Арендаторам
                                li Ипотека
                        .nav_drop_nav-top_child-wrap
                            .nav_drop_nav-top_child-item
                                ul
                                    li