//- ui mixins
mixin btnLink(href, txt, className, attr)
    //- a(href=((href !== '') ? `${href}` : "#"), class=`btn ${className}`, role="button", type="submit") #{txt}
    a(href=href, class=`btn ${className}`, data-target=attr) #{txt}
mixin btnSubmit(txt, className)
    button(class=`btn ${className}`, type="submit") #{txt}
mixin btnAttach(txt, className)
    label(class=`attach ${className}`) #{txt}
        input(type="file", name="attach")
mixin input(type, className, label, id, name, required)
    div(class=className)
        if type === "checkbox"
            label #{label}
                input(type=type, data-required=`${required}`)
        else
            input(id=id, type=type, name=name placeholder=label, data-required=`${required}`)
            label(for=id) #{label}
//- Social
mixin social(items)
    .socials
        ul.socials__list
            each item in items
                li.socials__item(class=(item === "share") ? "socials__share" : false)
                    a(href="#", class=`${item}`)
                    if item === "share"
                        ul(class="ya-share2", data-services="vkontakte,facebook,odnoklassniki")
//- CheckGroup
mixin checkGroup(items, ndx)
    .cgroup
        input(type="hidden" name="SERVICES" value="PHONE")
        ul.cgroup__list
            each item, i in items
                li.cgroup__item(class=((i === ndx) ? "_checked" : false))
                    a(href="#" data-value=item)=item
//- team person
mixin team(status, name, img, desc, text)
    .person
        p.person__status=status
        h3.person__name=name
        .person__img
            img(src=`img/${img}.png`, alt="person")
        .person__info
            p.person__desc=desc
            p.person__text=text
//- <!-- modal -->
mixin modal(id, classMod)
    <!-- modal -->
    .modal(data-id=`modal${id}`)
        .modal__content(class=`modal__content--${classMod}`)
            a(href="javascript:;", title="Закрыть", onclick=`closePopup($('[data-id=modal${id}]'))`).close
            if classMod === "success"
                .modal__head
                    h4.modal__title Успешно отправлено
                    p.modal__desc 
                        |Ожидайте, скоро мы с вами свяжемся
            else
                .modal__head(class=(classMod === "error") ? "error" : null)
                    if classMod === "first"
                        h3.modal__title Сделаем мечту реальностью
                        p.modal__desc 
                            |Вы уже не раз представляли себе каким будет идеальный интерьер вашего дома, но не знаете с чего начать. Наши специалисты готовы помочь воплотить ваши идеи в реальность.
                    else if classMod === "error"
                        .error__message
                            p Никаких ограничений,<br> но будет лучше, если вы<br> оставите нам номер телефона.
                    else
                        h4.modal__title Заказать дизайн

                .modal__body
                    form(id=`form${id}` action="./ui.html", method="post", class="modal__form form")
                        +input("tel", "form__input required", "Телефон", "phone", true)
                        +btnSubmit("Отправить", "btn--2")
                        p.form__note
                            |Нажимая кнопку «Отправить» я подтверждаю что ознакомился с 
                            a(href="#") политикой конфиденциальности 
                            |и даю 
                            a(href="#") согласие 
                            |на обработку персональных данных
//- <!-- fav-project -->
mixin favProject(slides, className, caption)
    <!-- fav-project -->
    .favproject(class=className)
        .favproject__wrap
            .favproject__slider
                .slider
                    .slider__ctrl
                        .arrows
                            a(href="#", data-attr="prevSlide").arrows__item.left
                            a(href="#", data-attr="nextSlide").arrows__item.right
                        .counter
                            span.num 0
                            |/
                            span.amount 0
                    .slider__list
                        each val in slides
                            .slider__item
                                if className === "_main"
                                    h1.main__title.wow.fadeInLeftBig(data-wow-delay="1s", data-wow-duration="0.6s") Готовый дизайн интерьера за 8 недель
                                a(href=`img/${val.name}.png`, data-fancybox=`gallery${className}`).slider__img
                                    span.zoom
                                    img(src=`img/${val.name}.png`)
                                if className !== "_main"
                                    .favproject__b._caption
                                        h5.favproject__caption=val.title
                                        p.favproject__desc
                                            |Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.
                                else if className === "_main"
                                    .favproject__b
                                        h5.favproject__caption или получите дизайн-проект в подарок при заказе ремонта
                                        +btnLink("#", "Заказать дизайн", "js-modal btn--1 favproject__btn", "modalCall")
                .preloader
                    img(src="img/preloader.gif", alt="preloader")
            if className !== "_main"
                .favproject__b._title
                    if caption
                        h4.favproject__title=caption
                    p.favproject__meta 2870 руб. за кв.м2, 8 недель
//- get contacts
mixin get(id)
    <!--get contacts-->
    form(action="./ui.html", method="post", class="form" id=`${id}form`)
        if id === "get2"
            h4.form__title Задача
            .form__body
                +input("text", "form__input", "Описание задачи", `${id}task`)
                +btnAttach("Прикрепить файл не более 10 Мб", "")
        if id === "get3"
            h4.form__title Вопрос
            .form__body
                +input("text", "form__input", "Напишите ваш вопрос", `${id}task`)
                +btnAttach("Прикрепить файл не более 10 Мб", "")
        h4.form__title Контактные данные
        if id === "getOffice"
            p.form__desc Оставьте заявку, а мы перезвоним и уточним<br> удобное для вас время встречи
        .form__body
            +input("text", "form__input", "Имя", `${id}name`)
            if id !== "getOffice"
                +input("email", (id === "get1") ? "form__input required" : "form__input", "E-mail", `${id}email`)
            +input("tel", "form__input required", "Телефон", `${id}phone`)
        if id === "get3"
            h4.form__title Куда вам ответить?
            .form__body
                +checkGroup(["Позвонить", "На почту", "WhatsUp", "Telegram", "Viber"], 2)
        .form__footer
            +btnSubmit((id === "get3") ? "Отправить вопрос" : (id === "getOffice") ? "Назначить встречу" : "Отправить каталог", "btn--1")
            p.form__note
                |Нажимая кнопку «Отправить презентацию»<br> я подтверждаю что ознакомился с 
                a(href="#") политикой конфиденциальности 
                |<br>и даю 
                a(href="#") согласие 
                |на обработку персональных данных
//- list 
mixin list(items)
    .schedule
        ul
            each item in items
                li
                    h4=item.title
                    p !{item.text}
//- section
mixin inner(id, className, title)
    section.section(id=id class=className)
        .container
            .section__content
                .inner
                    if title
                        h3.section__title=title
                    .section__body
                        block