/* bug fixes, modification */
@media screen and (max-width: 374px) {
    .advant {

        &__item,
        &__img {
            display: table-cell;
        }

        &__img {
            width: 90px;
        }

        &__item {
            display: table;
            text-align: left;
        }

        &__title {
            font-size: rem(18px);
        }
    }
}
/* add-section slider */
.add-section__slider {
    .slick-dots li button {
        width: 14px;
        height: 14px;
        border: 1px solid #c8c8c8;
        border-radius: 2px;
        background: transparent;
    }

    .slick-dots li.slick-active button {
        background: #acacac;
    }

    .slick-dots li button:before {
        display: none;
    }

    .slick-dots li button:hover:before {
        display: none;
    }
}