.inner {
    width: 100%;
    max-width: 1026px;
    margin: 0 auto;
    padding: 0 40px;
    height: 100%;
}

/*section*/
.section {
    position: relative;
    background-color: #E5E5E5;
    background-repeat: no-repeat;

    a {
        color: #3FB4DC;
    }

    &__content {
        background-color: #fff;
        padding: 10px 0;
    }

    &__title {
        color: #1E3946;
        font-weight: normal;
        line-height: normal;
        font-size: rem(32px);
        text-align: center;
        margin: 0 0 60px;
    }
}

$add-gap: 24px;

.add-section {
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0 $add-gap/-2;
    }

    &__item {
        width: 100%;
        flex: 1 1 auto;
        max-width: 50%;
        padding: 0 $add-gap/2;
        margin: 0 0 60px;
    }

    .section__content {
        padding-top: 70px;
        padding-bottom: 80px;
    }
}

.form-section {
    .section__content {
        padding-top: 60px;
    }
}

.sale-section {
    .section__content {
        padding-bottom: 60px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &>* {
            width: 100%;
            flex: 1 1 auto;
            max-width: 50%;
        }
    }

    &__info {
        position: relative;
    }

    &__img {
        position: relative;
        height: 279px;

        img {
            position: absolute;
            top: 0;
            left: 12%;
        }
    }

    &__text {
        color: #000000;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: rem(24px);
        margin-bottom: 15px;
    }

    &__count {
        position: relative;
        display: inline-block;
        color: #1E3946;
        font-weight: 300;
        line-height: normal;
        font-size: rem(40px);
        text-align: center;
        background: #FFFFFF url(../img/Frame.png) center left 20% no-repeat;
        box-shadow: 2px 4px 10px #CDCDCD;
        border-radius: 6px;
        padding: 20px 25px 20px 110px;

        .angle {
            position: absolute;
            width: 33px;
            top: 50%;
            left: -33px;
            height: 100%;
            overflow: hidden;
            transform: translate(0, -50%);

            &::before {
                background-color: #fff;
                content: '';
                height: 40px;
                position: absolute;
                left: 20px;
                top: 24px;
                transform: rotate(45deg);
                transform-origin: 50% 50%;
                width: 40px;
                box-shadow: 2px 4px 10px #CDCDCD;
            }
        }
    }
}

/*banner*/
%body-elem-mb {
    margin-bottom: 10px;
}

.banner {
    min-height: 458px;
    background-repeat: no-repeat;
    background-position: bottom right 19%;
    padding: 80px 0;

    &-section {
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    &__head {
        max-width: 475px;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &>* {
            @extend %body-elem-mb;
        }
    }

    &__btn {
        .banner & {
            &.btn {
                @extend %body-elem-mb;
                margin-right: 80px;
            }
        }
    }

    &__title {
        color: #000000;
        font-weight: 300;
        line-height: normal;
        font-size: rem(45px);
        margin: 0 0 35px;
    }

    &__text {
        color: #000000;
        font-weight: normal;
        line-height: 26px;
        font-size: rem(16px);
        margin: 0 0 35px;
    }
}