/* Styling Media */
@media screen and (max-width: 1200px) {
    .inner {
        padding: 0 35px;
    }

    .section-inner {
        .container {
            padding: 0;
        }
    }

    .sale-section {
        &__img {
            img {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }

    .form {
        &__footer {
            flex-direction: column;
            align-content: center;
            justify-content: flex-start;

            .form__checkbox {
                order: 1;
            }

            .btn.btn-prime {
                margin: 0 0 40px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .inner {
        padding: 0 34px;
    }

    .section {
        &__title {
            margin: 0 0 45px;
        }
    }

    .banner {
        padding: 60px 0;

        &-section {
            background-position: right 30% top;
        }
    }

    .feat-panel {
        .value {
            font-size: rem(36px);
        }
    }

    .advant {

        &__item,
        &__img {
            display: block;
        }

        &__item {
            text-align: center;
        }

        &__img {
            width: 90px;
            margin: 0 auto 19px;
        }
    }

    .schedule {
        padding: 0;
    }

    .form {
        &-section {
            .section__content {
                padding-top: 0;
            }
        }

        &__body {
            padding: 40px 120px;
        }
    }

    .add-section {
        &__item {
            max-width: none;
        }

        .section__content {
            padding-bottom: 10px;
        }
    }

    .order-preview__img img {
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .inner {
        padding: 0 24px;
    }
    .section-inner {
        .section__content {
            padding: 30px 0;
        }
    }

    .section__title {
        font-size: rem(24px);
    }

    .advant {

        &__item {
            max-width: none;
            display: table;
            text-align: left;
            margin: 0 0 20px;
        }

        &__img {
            display: table-cell;
            width: 100px;

            img {
                width: 70px;
                height: 70px;
            }
        }
    }

    .banner {
        min-height: 411px;
        background-size: 0;
        padding: 30px 0;

        &-section {
            background-position: right 33% top;
        }

        &__title {
            font-size: rem(32px);
        }

        &__text {
            font-size: rem(14px);
        }

        .banner__btn.btn {
            margin-right: 0;
            margin-bottom: 40px;
        }

        &__body {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .feat-panel {
        position: relative;
        transform: translate(0, 0);

        &__list {
            justify-content: space-between;
        }

        &__item {
            flex: 0 1 0%;
        }

        .text {
            font-size: rem(14px);
        }

        .value {
            font-size: rem(21px);
        }
    }

    .sale-section__content {
        flex-direction: column;
        justify-content: center;

        &>* {
            width: auto;
            max-width: none;
        }
    }

    .sale-section__img {
        margin-bottom: 40px;
    }

    .form__body,
    .form__footer {
        padding: 40px;
    }

    .order-preview__img,
    .order-preview__body {
        max-width: none;
    }
    .order-preview__img {
        height: 228px;
    }
}

@media screen and (max-width: 374px) {
    .advant {

        &__item,
        &__img {
            display: block;
        }

        &__item {
            text-align: center;
        }

        &__img {
            margin: 0 auto 19px;
        }
    }
}

/* END Styling Media */