/*buttons*/
.btn.btn {
    text-overflow: ellipsis;
    overflow: hidden;
    &-prime {
        width: 100%;
        max-width: 193px;
        display: inline-block;
        vertical-align: middle;
        font-weight: normal;
        line-height: normal;
        font-size: rem(16px);
        padding: 20px;
        margin: 0 0 20px;
        background-color: #FF4669;
        color: #FFFFFF;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 3px;

        &:hover,
        &:focus {
            background-color: #FF5676;
        }

        &:active {
            background-color: #FF4669;
        }
    }

    &-second {
        width: 100%;
        max-width: 140px;
        display: inline-block;
        vertical-align: middle;
        color: #000000;
        font-weight: 500;
        line-height: normal;
        font-size: rem(14px);
        white-space: nowrap;
        background-color: #FFFFFFFF;
        padding: 9px;
        margin: 0 0 9px;
        cursor: pointer;
        border: 1px solid #DDDDDD;
        border-radius: 4px;

        &:hover,
        &:focus {
            color: #FFFFFF;
            background-color: #76BBD3;
            border: 1px solid #76BBD3;
        }
    }
}

/*forms*/
.form {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;

    &__head {
        color: #FFFFFF;
        font-weight: normal;
        line-height: normal;
        background: #2E424F;
        border-radius: 4px 4px 0px 0px;
        padding: 20px;
    }

    &__title {
        font-size: rem(32px);
        text-align: center;
        margin: 0;
    }

    &__body {
        border-bottom: 1px solid #DDDDDD;
        padding: 40px 150px;
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 40px 150px;

        .btn.btn-prime {
            margin: 0;
        }
    }

    &__input {
        position: relative;
        margin: 20px 0;

        label {
            position: absolute;
            top: 16px;
            left: 16px;
            font-weight: normal;
            line-height: normal;
            font-size: rem(13px);
            color: #97A2A8;
            opacity: 0;
            transition: 0.3s;
        }

        input {
            @include input-placeholder {
                color: #97A2A8;
            }

            width: 100%;
            font-weight: normal;
            line-height: normal;
            font-size: rem(18px);
            color: #1E3946;
            background: #EBF2F6;
            border-radius: 4px;
            padding: 18px 16px;
            border: 1px solid #EBF2F6;
            transition: 0.3s;
            margin-bottom: 10px;

            &:focus {
                @include input-placeholder {
                    color: transparent;
                }

                background: #FFFFFF;
                border: 1px solid #000000;

                &+label {
                    top: 6px;
                    opacity: 1;
                }
            }
        }
    }

    &__checkbox {
        position: relative;

        label {
            position: relative;
            color: #000000;
            font-weight: normal;
            line-height: normal;
            font-size: rem(14px);
            line-height: 32px;
            padding-left: 45px;
            margin: 0;

            .checkbox {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 32px;
                height: 32px;
                background: #FFFFFF;
                box-shadow: 0px 0px 0px 1px rgba(#DDDDDD, 1);
                border-radius: 4px;
                margin: 0;
            }

            input {
                display: none;

                &:checked {
                    &+.checkbox {
                        background: #40A1C5;
                        box-shadow: 0px 0px 0px 1px rgba(#DDDDDD, 1),
                            inset 0px 0px 0px 6px rgba(#ffffff, 1);
                    }
                }
            }
        }
    }
}

/* list */
.schedule {
    padding: 0 70px;

    h4 {
        color: #1E3946;
        font-weight: normal;
        line-height: normal;
        font-size: rem(21px);
        margin: 0 0 20px;
    }

    p {
        color: #1E3946;
        font-weight: 300;
        line-height: rem(26px);
        font-size: 16px;
    }

    a {
        color: #76BBD3;
        text-decoration: underline;
    }

    ul {
        list-style: none;
        counter-reset: list;
        padding: 0;
        margin: 0;

        &>li {
            position: relative;
            padding-left: 95px;
            margin: 0 0 50px;

            &::before {
                position: absolute;
                counter-increment: list;
                content: counter(list);
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                font-weight: bold;
                line-height: normal;
                font-size: rem(24px);
                text-align: center;
                color: #FFFFFF;
                line-height: 50px;
                background: #76BBD3;
                border-radius: 50%;
            }

            &:last-child {

                &::before {
                    content: '';
                    background: #68C466 url(../img/che.png) center no-repeat;
                }
            }
        }
    }
}

/*advantage card*/
$advant-gap: 26px;

.advant {
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0 $advant-gap/-2;
    }

    &__item {
        display: table;
        width: 100%;
        flex: 1 1 auto;
        max-width: 50%;
        padding: 0 $advant-gap/2;
        margin: 0 0 40px;
    }

    &__img {
        display: table-cell;
        vertical-align: top;
        width: 120px;

        img {
            width: 90px;
            height: 90px;
        }
    }

    &__body {
        display: table-cell;
        vertical-align: top;
    }

    &__title {
        color: #1E3946;
        font-weight: normal;
        line-height: normal;
        font-size: rem(21px);
        margin: 0 0 9px;
    }

    &__text {
        color: #1E3946;
        font-weight: normal;
        line-height: 23px;
        font-size: rem(14px);
    }

    &-section {
        .section__content {
            padding-top: 100px;
        }
    }
}

/*associate*/
.associate {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        max-width: 140px;
        max-height: 40px;
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: 40px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

/*order-preview*/
%order_preview_item {
    width: 100%;
    flex: 1 1 auto;
    max-width: 50%;
}

.order-preview {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;

    &__img {
        @extend %order_preview_item;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            height: 100%;
        }
    }

    &__body {
        @extend %order_preview_item;
        padding: 24px;
    }

    &__title {
        @include line-clamp(2);
        height: 45px;
        color: #000000;
        font-weight: 300;
        line-height: normal;
        font-size: rem(18px);
        margin: 0 0 20px;
    }

    &__text {
        @include line-clamp(3);
        height: 60px;
        color: #000000;
        font-weight: 300;
        line-height: 20px;
        font-size: rem(14px);
        margin: 0 0 20px;
    }

    .btn.btn-second {
        margin: 0;
    }
}

/*feat-panel*/
.feat-panel {
    $feat-gap: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translate(0, 50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    z-index: 10;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        width: auto;
        flex: 0 1 auto;
        max-width: 33.33%;
    }

    .text {
        color: #000000;
        font-weight: normal;
        line-height: 23px;
        font-size: 16px;
        margin: 0;
    }

    .value {
        @include truncate(100%);
        color: #3FB4DC;
        font-weight: normal;
        font-size: 45px;
        margin: 0;
    }
}