.is-error {
    color: #f43d3d;
    input,
    .error,
    .checkbox {
        border: 1px solid #f43d3d;
    }
}

.is-valid {
    color: #3faf6c;
    input,
    .valid,
    .checkbox {
        border: 1px solid #3faf6c;
    }
}